
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Noto+Serif+Display:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Oswald:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------------------------- edicion de fuente --------------------------- */

/* <uniquifier>: Use a uniquifier for the class name
 <weight>: Use a value from 100 to 900
 <width>: Use a value from 62.5 to 100 */

/* .noto-serif display-<uniquifier> {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */


/* <uniquifier>: Use a uniquifier for the class name
 <weight>: Use a value from 200 to 700 */

/* .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.kaisei-opti-regular {
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
  } */
  


/* -------------------------------- hasta aca ------------------------------- */

/* ----------------------------- colores a usar ----------------------------- */

:root{
    --clr-black: #000000;
    --clr-relog: #020202;
    --clr-blanco: #ffffff;
    --clr-claro: #ececea;
}

/* -------------------------------- css inicio ------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: var(--clr-black);
}

nav{
    background-color: var(--clr-black);
    width: 100%;
}
.logo{
    color: var(--clr-blanco);
    font-family: "Noto Serif Display", serif;
    font-variation-settings:
    "wdth" 62.5;
    padding: 10px;
}
.menu a{
    color: var(--clr-blanco);
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
    font-size: 19px;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: .2s;
}

.menu a:hover{
    background-color: var(--clr-claro);
    color: var(--clr-black);
    transform: scale(1.1);
    border-radius: 100vmax;
    
}

.inicio{
    display: flex;
    background-color: var(--clr-black);
    justify-content: space-between;
}

.textoInicio{
    margin-top: 10%;
}

.textoInicio h2{
    text-align: center;
    color: var(--clr-blanco);
    font-family: "Noto Serif Display", serif;
    font-size: 54px;
}

.textoInicio p{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: large;
    color: var(--clr-blanco);
    padding: 10px 40px;
}

.banner{
    width: 500px;
    margin-top: 10%;
}

/* --------------------------- css sobre nosotros --------------------------- */

.sobreNosotros{
    background-image: url(../imagenes/Sobre\ nosotros\ \(3\).png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.textoNosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textoNosotros h2{
    font-family: "Noto Serif Display", serif;
    font-size: 46px;
    color: var(--clr-blanco);
}

.textoNosotros p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: large;
    line-height: 2;
    text-align: center;
    padding: 20px 60px;
    color: var(--clr-blanco);
}

/* ------------------------------ css contacto ------------------------------ */

.contacto{
    background-color: var(--clr-black);
}

.contacto h2{
    color: var(--clr-blanco);
    font-family: "Noto Serif Display", serif;
    font-size: 36px;
}

.form{
    padding: 20px 0 20px 60px;
    display: flex;
}

.form-control{
    height: 60px;
    width: 500px;
}

.coment{
    height: 250px;
}

.form-btns{
    padding: 20px;
    text-align: center;
}

.for{
    padding: 10px;
}

.for label{
    color: var(--clr-claro);
}

.boton{
    background-color: var(--clr-claro);
    color: var(--clr-black);
    border: none;
    font-family: "Fira Sans", sans-serif;
    transition: .2s;
}

.boton:hover{
    background-color: var(--clr-blanco);
    color: var(--clr-black);
    border: none;
    transform: scale(1.1);
}

@media (max-width: 600px) {

    .form{
        padding: 10px 0 15px 60px;
    }
    
    .form-control{
        height: 60px;
        width: 300px;
    }
    
    .coment{
        height: 300px;
    }
}

/* ------------------------------- css footer ------------------------------- */

footer{
    background-color: var(--clr-claro);
}


.btn-social{
    border-radius: 100%;
    transition: .2s;
}

.btn-social:hover{
    transform: scale(1.2);
}

/* ------------------------------ css productos ----------------------------- */

.fondoProductos{
    background-image: url(../imagenes/fondo\ productos.png);
    background-position: top;
    background-size: cover;
}

.btnCarrito{
    background-color: transparent;
    border: none;
    border-radius: 40px;
    transition: .2s;

}

.btnCarrito:hover{
    background-color: var(--clr-claro);
    border: none;
    color: var(--clr-black);
    transform: scale(1.2);
}

.buscador input{
    height: 30px;
    margin: 20px;
    background-color: #30302e;
    border-color: var(--clr-relog);
    
}

.barraBuscar::placeholder{
    color: var(--clr-blanco);
}

.btnOrdenado{
    background-color: #30302e;
    margin-top: 20px;
    border: none;
    transition: .2s;
}

.btnOrdenado:hover{
    background-color: #525151;
    border: none;
    transform: scale(1.2);
}

.colorProducto{
    background-color: var(--clr-claro);
    border-radius: 1.5rem;
    transition: .2s;
    width: 200px;
    margin-bottom: 40px;
}

.colorProducto:hover{
    transform: scale(1.1);
}
.colorProducto h3{
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
}

.colorProducto h4{
    font-family: "Fira Sans", sans-serif;
}

.btnColorProducto{
    background-color: var(--clr-relog);
    color: var(--clr-blanco);
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    transition: .2s;
}

.btnColorProducto:hover{
    background-color: #30302e;
    color: var(--clr-blanco);
    border: none;
    transform: scale(1.1);
}

.produ{
    display: flex;
    align-items: center;
}


/* -------------------------------- css modal ------------------------------- */


.modal-content{
    background-color: var(--clr-relog);
    color: var(--clr-blanco);
}

.modal-header h5{
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
}

.modal-header button{
    background-color: var(--clr-blanco);
}

.textTotal{
    font-family: "Fira Sans", sans-serif;
    font-size: large;
}

.modalColor th{
    background-color: var(--clr-relog);
    color: var(--clr-blanco);
    font-family: "Fira Sans", sans-serif;
}

.modalColorJs td{
    background-color: #1a1a19;
    color: var(--clr-blanco);
    font-family: "Fira Sans", sans-serif;
    
}

.modalColorJs{
    transition: .2s;

}

.modalColorJs:hover{
    transform: scale(1.1);
}

.btnModalSave{
    background-color: var(--clr-claro);
    color: var(--clr-black);
    border: none;
    font-family: "Fira Sans", sans-serif;
}

.btnModalSave:hover{
    background-color: #918f8f;
    color: var(--clr-black);
    border: none;

}